TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
SPAN {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, sans-serif
}
